.page-section {
    max-width: 650px;
    margin: 0 auto;
    padding: 50px 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input, textarea {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #bbb;
    font-size: 1rem;
}

button {
    padding: 14px;
    background: #d62828;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background .2s;
}

button:hover {
    background: #b91d1d;
}