.page-section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 20px;
    color: #333;
}

.track {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.track img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}